In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("wine.csv")

In [3]:
df.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [4]:
df.tail()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

In [5]:
df.columns

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Wine                  178 non-null    int64
 1   Alcohol               178 non-null    float64
 2   Malic.acid            178 non-null    float64
 3   Ash                   178 non-null    float64
 4   Acl                   178 non-null    float64
 5   Mg                    178 non-null    int64
 6   Phenols               178 non-null    float64
 7   Flavanoids            178 non-null    float64
 8   Nonflavanoid.phenols  178 non-null    float64
 9   Proanth               178 non-null    float64
 10  Color.int             178 non-null    float64
 11  Hue                   178 non-null    float64
 12  OD                    178 non-null    float64
 13  Proline               178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [7]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Columns: 14 entries, Wine to Proline
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [8]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Wine                  178 non-null    int64
 1   Alcohol               178 non-null    float64
 2   Malic.acid            178 non-null    float64
 3   Ash                   178 non-null    float64
 4   Acl                   178 non-null    float64
 5   Mg                    178 non-null    int64
 6   Phenols               178 non-null    float64
 7   Flavanoids            178 non-null    float64
 8   Nonflavanoid.phenols  178 non-null    float64
 9   Proanth               178 non-null    float64
 10  Color.int             178 non-null    float64
 11  Hue                   178 non-null    float64
 12  OD                    178 non-null    float64
 13  Proline               178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [9]:
df.describe()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [10]:
df.shape

(178, 14)

In [11]:
df.size

2492

In [12]:
df.ndim

2

In [13]:
df.select_dtypes(include=['int64'])

     Wine   Mg  Proline
0       1  127     1065
1       1  100     1050
2       1  101     1185
3       1  113     1480
4       1  118      735
..    ...  ...      ...
173     3   95      740
174     3  102      750
175     3  120      835
176     3  120      840
177     3   96      560

[178 rows x 3 columns]

**Gey memory acquired by dataframe**

In [14]:
df.memory_usage()

Index                    132
Wine                    1424
Alcohol                 1424
Malic.acid              1424
Ash                     1424
Acl                     1424
Mg                      1424
Phenols                 1424
Flavanoids              1424
Nonflavanoid.phenols    1424
Proanth                 1424
Color.int               1424
Hue                     1424
OD                      1424
Proline                 1424
dtype: int64

### ✅ `iloc()`

In [15]:
df1 = df.copy()
df1

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

**Get first 5 rows of dataframe**

In [16]:
df1.iloc[:5]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

**Get rows from 10 to 15 of dataframe**

In [17]:
df1.iloc[10:15]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547

**Get fisrt 5 rows, and 0th and 5th columnof dataframe**

In [18]:
df1.iloc[:5,[0,5]]

   Wine   Mg
0     1  127
1     1  100
2     1  101
3     1  113
4     1  118

**Get rows from 10 to 20, and column from 0 to 3**

In [19]:
df1.iloc[10:20,0:3]

    Wine  Alcohol  Malic.acid
10     1    14.10        2.16
11     1    14.12        1.48
12     1    13.75        1.73
13     1    14.75        1.73
14     1    14.38        1.87
15     1    13.63        1.81
16     1    14.30        1.92
17     1    13.83        1.57
18     1    14.19        1.59
19     1    13.64        3.10

**Get last 2 rows of dataframe**

In [20]:
df1.iloc[-2:]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

Get particular dataframe row in x variable

In [21]:
x = df1.iloc[-1]

**print the Wine value of x**

In [22]:
x["Wine"]

3.0

In [23]:
x.Alcohol

14.13

**Print datadrame first 10 rows alternately**

In [24]:
df1.iloc[:10:2]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,1,13.16,2.36,2.67,18.6,101,2.8,3.24,0.30,2.81,5.68,1.03,3.17,1185
4,1,13.24,2.59,2.87,21.0,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735
6,1,14.39,1.87,2.45,14.6,96,2.5,2.52,0.30,1.98,5.25,1.02,3.58,1290
8,1,14.83,1.64,2.17,14.0,97,2.8,2.98,0.29,1.98,5.20,1.08,2.85,1045

Change 2nd row, third column (i.e. Ash) to 2.99

In [25]:
df1.iloc[2,3] = 2.99
df1.iloc[2]

Wine                       1.00
Alcohol                   13.16
Malic.acid                 2.36
Ash                        2.99
Acl                       18.60
Mg                       101.00
Phenols                    2.80
Flavanoids                 3.24
Nonflavanoid.phenols       0.30
Proanth                    2.81
Color.int                  5.68
Hue                        1.03
OD                         3.17
Proline                 1185.00
Name: 2, dtype: float64

**Get 5th rows values and keys using iloc**

In [26]:
df1.iloc[5].values

array([1.00e+00, 1.42e+01, 1.76e+00, 2.45e+00, 1.52e+01, 1.12e+02,
       3.27e+00, 3.39e+00, 3.40e-01, 1.97e+00, 6.75e+00, 1.05e+00,
       2.85e+00, 1.45e+03])

In [27]:
df1.iloc[2].keys()

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline'],
      dtype='object')

### ✅ `loc()`

In [28]:
df1 = df.copy()
df1.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

**All rows where wine == 1**

In [29]:
df1.loc[df1['Wine']==1]

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.00,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.40,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.50,1.20,3.00,1547
15,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.30,1.28,2.88,1310
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.20,1.07,2.65,1280
17,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.60,1.13,2.57,1130
18,1,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.70,1.23,2.82,1680
19,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.10,0.96,3.36,845
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.65,1.09,3.71,780
21,1,12.93,3.80,2.65,18.6,102,2.41,2.41,0.25,1.98,4.50,1.03,3.52,770
22,1,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.80,1.11,4.00,1035
23,1,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.93,1.09,3.63,1015
24,1,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845
25,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.58,1.13,3.20,830
26,1,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.80,0.92,3.22,1195
27,1,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.95,1.02,2.77,1285
28,1,13.87,1.90,2.80,19.4,107,2.95,2.97,0.37,1.76,4.50,1.25,3.40,915
29,1,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.70,1.04,3.59,1035
30,1,13.73,1.50,2.70,22.5,101,3.00,3.25,0.29,2.38,5.70,1.19,2.71,1285
31,1,13.58,1.66,2.36,19.1,106,2.86,3.19,0.22,1.95,6.90,1.09,2.88,1515
32,1,13.68,1.83,2.36,17.2,104,2.42,2.69,0.42,1.97,3.84,1.23,2.87,990
33,1,13.76,1.53,2.70,19.5,132,2.95,2.74,0.50,1.35,5.40,1.25,3.00,1235
34,1,13.51,1.80,2.65,19.0,110,2.35,2.53,0.29,1.54,4.20,1.10,2.87,1095
35,1,13.48,1.81,2.41,20.5,100,2.70,2.98,0.26,1.86,5.10,1.04,3.47,920
36,1,13.28,1.64,2.84,15.5,110,2.60,2.68,0.34,1.36,4.60,1.09,2.78,880
37,1,13.05,1.65,2.55,18.0,98,2.45,2.43,0.29,1.44,4.25,1.12,2.51,1105
38,1,13.07,1.50,2.10,15.5,98,2.40,2.64,0.28,1.37,3.70,1.18,2.69,1020
39,1,14.22,3.99,2.51,13.2,128,3.00,3.04,0.20,2.08,5.10,0.89,3.53,760
40,1,13.56,1.71,2.31,16.2,117,3.15,3.29,0.34,2.34,6.13,0.95,3.38,795
41,1,13.41,3.84,2.12,18.8,90,2.45,2.68,0.27,1.48,4.28,0.91,3.00,1035
42,1,13.88,1.89,2.59,15.0,101,3.25,3.56,0.17,1.70,5.43,0.88,3.56,1095
43,1,13.24,3.98,2.29,17.5,103,2.64,2.63,0.32,1.66,4.36,0.82,3.00,680
44,1,13.05,1.77,2.10,17.0,107,3.00,3.00,0.28,2.03,5.04,0.88,3.35,885
45,1,14.21,4.04,2.44,18.9,111,2.85,2.65,0.30,1.25,5.24,0.87,3.33,1080
46,1,14.38,3.59,2.28,16.0,102,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065
47,1,13.90,1.68,2.12,16.0,101,3.10,3.39,0.21,2.14,6.10,0.91,3.33,985
48,1,14.10,2.02,2.40,18.8,103,2.75,2.92,0.32,2.38,6.20,1.07,2.75,1060
49,1,13.94,1.73,2.27,17.4,108,2.88,3.54,0.32,2.08,8.90,1.12,3.10,1260
50,1,13.05,1.73,2.04,12.4,92,2.72,3.27,0.17,2.91,7.20,1.12,2.91,1150
51,1,13.83,1.65,2.60,17.2,94,2.45,2.99,0.22,2.29,5.60,1.24,3.37,1265
52,1,13.82,1.75,2.42,14.0,111,3.88,3.74,0.32,1.87,7.05,1.01,3.26,1190
53,1,13.77,1.90,2.68,17.1,115,3.00,2.79,0.39,1.68,6.30,1.13,2.93,1375
54,1,13.74,1.67,2.25,16.4,118,2.60,2.90,0.21,1.62,5.85,0.92,3.20,1060
55,1,13.56,1.73,2.46,20.5,116,2.96,2.78,0.20,2.45,6.25,0.98,3.03,1120
56,1,14.22,1.70,2.30,16.3,118,3.20,3.00,0.26,2.03,6.38,0.94,3.31,970
57,1,13.29,1.97,2.68,16.8,102,3.00,3.23,0.31,1.66,6.00,1.07,2.84,1270
58,1,13.72,1.43,2.50,16.7,108,3.40,3.67,0.19,2.04,6.80,0.89,2.87,1285

**Select first row wine and alcohol value**

In [30]:
df1.loc[1,['Wine', 'Alcohol']]

Wine        1.0
Alcohol    13.2
Name: 1, dtype: float64

**Select first 5 rows wine and alcohol value**

In [31]:
df1.loc[1:5,['Wine', 'Alcohol']]

   Wine  Alcohol
1     1    13.20
2     1    13.16
3     1    14.37
4     1    13.24
5     1    14.20

**Select all rows having `Mg` > 100**

In [49]:
df1.loc[df1['Mg']>100, 'Alcohol']

0      14.23
2      13.16
3      14.37
4      13.24
5      14.20
       ...
168    13.58
169    13.40
174    13.40
175    13.27
176    13.17
Name: Alcohol, Length: 78, dtype: float64

In [33]:
df1.loc[df1['Mg']>110, ['Alcohol', 'Wine']]

     Alcohol  Wine
0      14.23     1
3      14.37     1
4      13.24     1
5      14.20     1
7      14.06     1
15     13.63     1
16     14.30     1
17     13.83     1
19     13.64     1
20     14.06     1
25     13.05     1
33     13.76     1
39     14.22     1
40     13.56     1
45     14.21     1
52     13.82     1
53     13.77     1
54     13.74     1
55     13.56     1
56     14.22     1
69     12.21     2
73     12.99     2
77     11.84     2
78     12.33     2
95     12.47     2
96     11.81     2
121    11.56     2
130    12.86     3
144    12.25     3
149    13.08     3
150    13.50     3
151    12.79     3
152    13.11     3
166    13.45     3
169    13.40     3
175    13.27     3
176    13.17     3

**set all the rows having `Phenols` < 2.000 to 0.0**

In [34]:
df1.loc[df1['Phenols'] < 2.000, 'Alcohol'] = 0
df1.loc[df1['Phenols'] < 2.000, 'Alcohol']

59     0.0
64     0.0
69     0.0
70     0.0
72     0.0
      ...
172    0.0
173    0.0
174    0.0
175    0.0
176    0.0
Name: Alcohol, Length: 64, dtype: float64

### `groupby()`

In [35]:
df1 = df.copy()
df1.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

**Mean Alcohol in each category**

In [36]:
df1.groupby('Wine')['Alcohol'].mean()

Wine
1    13.744746
2    12.278732
3    13.153750
Name: Alcohol, dtype: float64

**Count of data rows over each wine type**

In [37]:
df1.groupby('Wine')['Alcohol'].count()

Wine
1    59
2    71
3    48
Name: Alcohol, dtype: int64

**Max alcohol in each wine class**

In [38]:
df1.groupby('Wine')['Alcohol'].max()

Wine
1    14.83
2    13.86
3    14.34
Name: Alcohol, dtype: float64

**Mean Alcohol and Acl for each Wine**

In [39]:
df1.groupby('Wine')[['Alcohol', 'Acl']].mean()

        Alcohol        Acl
Wine
1     13.744746  17.037288
2     12.278732  20.238028
3     13.153750  21.416667

**Mean alcohol, minimum ash and count of acl in each wine type**

In [40]:
df1.groupby('Wine').agg({
    'Alcohol': 'mean',   # mean on column a
    'Ash': 'min',    # min on column b
    'Acl': 'count'   # count on column c
}).reset_index()

   Wine    Alcohol   Ash  Acl
0     1  13.744746  2.04   59
1     2  12.278732  1.36   71
2     3  13.153750  2.10   48

In [41]:
df1['new_alc'] = (df1['Alcohol']-df1['Alcohol'].mean())/df1['Alcohol'].std()
df1['new_alc']

0      1.514341
1      0.245597
2      0.196325
3      1.686791
4      0.294868
         ...
173    0.873810
174    0.491955
175    0.331822
176    0.208643
177    1.391162
Name: new_alc, Length: 178, dtype: float64

### Median Malic.acid where Hue > mean

In [ ]:
df1[df1['Hue'] > df1['Hue'].mean()]['Malic.acid'].median()

1.6749999999999998

### Std dev of Phenols per Wine type

In [43]:
df1.groupby('Wine')['Phenols'].std()

Wine
1    0.338961
2    0.545361
3    0.356971
Name: Phenols, dtype: float64

### High Flavanoids flag + avg Ash

In [44]:
df1['High_Flavanoids'] = df1['Flavanoids'] > df1['Flavanoids'].mean()
df1.groupby('High_Flavanoids')['Ash'].mean()

High_Flavanoids
False    2.333293
True     2.394896
Name: Ash, dtype: float64

## `idmax()`

idxmax is a function in pandas that returns the index of the first occurrence of the maximum value over a specified axis. It is applicable to both Series and DataFrames.


### Acl of wine with max Color.int per Wine group

In [45]:
df1.loc[df1.groupby('Wine')['Color.int'].idxmax()][['Wine', 'Acl']]

     Wine   Acl
49      1  17.4
121     2  28.5
158     3  25.0

# Assuming the DataFrame is named `df`
import pandas as pd
import numpy as np

# 1. Mean Alcohol for each Wine category
df.groupby('Wine')['Alcohol'].mean()

# 2. Median Malic.acid where Hue > mean
df[df['Hue'] > df['Hue'].mean()]['Malic.acid'].median()

# 3. Std dev of Phenols per Wine type
df.groupby('Wine')['Phenols'].std()

# 4. High Flavanoids flag + avg Ash
df['High_Flavanoids'] = df['Flavanoids'] > df['Flavanoids'].mean()
df.groupby('High_Flavanoids')['Ash'].mean()

# 5. Acl of wine with max Color.int per Wine group
df.loc[df.groupby('Wine')['Color.int'].idxmax()][['Wine', 'Acl']]

# 6. Bin Alcohol and count per bin and Wine
df['Alcohol_bin'] = pd.cut(df['Alcohol'], bins=[0, 13, 14, np.inf], labels=['Low', 'Medium', 'High'])
df.groupby(['Wine', 'Alcohol_bin']).size()

# 7. Filter Mg < 90, avg Proline per Wine
df[df['Mg'] < 90].groupby('Wine')['Proline'].mean()

# 8. Top 3 Proline rows per Wine
df.sort_values(['Wine', 'Proline'], ascending=[True, False]).groupby('Wine').head(3)[['Alcohol', 'Proline', 'Wine']]

# 9. Mean and range of Phenols per Wine
grouped = df.groupby('Wine')['Phenols']
pd.DataFrame({'mean': grouped.mean(), 'range': grouped.max() - grouped.min()})

# 10. Pivot table: avg and count of Flavanoids per Wine
pd.pivot_table(df, values='Flavanoids', index='Wine', aggfunc=['mean', 'count'])

# 11. TotalPhenols column and group mean
df['TotalPhenols'] = df['Phenols'] + df['Flavanoids'] + df['Nonflavanoid.phenols']
df.groupby('Wine')['TotalPhenols'].mean()

# 12. iterrows: count rows with Hue & OD > median
count = sum((row.Hue > df['Hue'].median()) and (row.OD > df['OD'].median()) for _, row in df.iterrows())

# 13. apply: flag if Ash + Acl + Mg > 250
df['High_Total'] = df.apply(lambda x: x['Ash'] + x['Acl'] + x['Mg'] > 250, axis=1)

# 14. Top row by Malic.acid per Wine (descending)
df.sort_values(['Wine', 'Malic.acid'], ascending=[True, False]).groupby('Wine').head(1)

# 15. Wine type with highest mean OD
df.groupby('Wine')['OD'].mean().idxmax()

# 16. Drop bottom 5% Hue, avg Color.int per Wine
threshold = df['Hue'].quantile(0.05)
df[df['Hue'] > threshold].groupby('Wine')['Color.int'].mean()

# 17. Top 10% Alcohol, group avg Malic.acid
cutoff = df['Alcohol'].quantile(0.9)
df[df['Alcohol'] > cutoff].groupby('Wine')['Malic.acid'].mean()

# 18. Z-score normalize Acl, group mean
df['Acl_z'] = (df['Acl'] - df['Acl'].mean()) / df['Acl'].std()
df.groupby('Wine')['Acl_z'].mean()

# 19. Id (index) with min Proanth per Wine
df.groupby('Wine')['Proanth'].idxmin()

# 20. Pivot: min and max Hue, margins
pd.pivot_table(df, index='Wine', values='Hue', aggfunc=[min, max], margins=True)

**30 practical and minute-level Pandas questions** to test deep understanding of data manipulation, built-in functions, and edge cases using the given **Wine dataset**:

---

### 🧠 **Data Inspection & Types**
1. What is the memory usage of this dataframe?
2. Check if any column has duplicate values.
3. Convert all float64 columns to float32 and check memory savings.
4. Identify columns with zero variance.
5. How to efficiently check which columns have only integer values despite being float64?

---

### 🔍 **Filtering & Querying**
6. Filter rows where alcohol is greater than the mean and pH is less than the median.
7. Select wines where residual sugar is more than 1 standard deviation above the mean.
8. Get wines where quality is either 3 or 8 without using `isin`.
9. Find wines where the alcohol content is the maximum among all rows but only return those with `Id` even.
10. How would you get the top 3 entries per quality group based on alcohol content?

---

### 📊 **Aggregation & Grouping**
11. Group by quality and return the count of wines with `citric acid` > 0.3.
12. What is the average `alcohol` per `quality` where `chlorides` are less than 0.08?
13. For each `quality`, return the index of the row with the highest `sulphates`.
14. Create a new column showing mean-centering of alcohol *per quality*.
15. How do you calculate the standard deviation of each float column, but only for wines with `quality > 5`?

---

### 🧮 **Transformation & Calculation**
16. Normalize all columns (min-max scaling) except `Id` and `quality`.
17. Create a column `acid_index` = `fixed acidity` + `volatile acidity` + `citric acid`.
18. Compute z-scores of `residual sugar` and find rows with z-score > 2.
19. Create a binary column where `1` if alcohol > mean and sulphates > median, else `0`.
20. Calculate rolling mean of `alcohol` over a window of 5 for sorted quality.

---

### 🧰 **Apply, Map, Lambda, etc.**
21. Using `apply`, compute the sum of `fixed acidity`, `volatile acidity`, and `citric acid` for each row.
22. Replace all values of `chlorides` greater than 0.1 with the median of that column.
23. Using `map`, create a new column categorizing `quality` into `"low"`, `"medium"`, and `"high"` levels.
24. Count how many wines have `alcohol` rounded to 1 decimal place equal to 10.0.
25. Use a lambda to flag rows where any acidity component is above its respective 75th percentile.

---

### 🧹 **Missing Values & Duplicates**
26. Simulate a missing value scenario: set 10 random `pH` values to NaN and fill using linear interpolation.
27. Check if there are any duplicated rows and remove them.
28. Drop columns with correlation > 0.9 with another column (excluding Id/quality).
29. Find how many rows have more than one column with value above the column’s 90th percentile.
30. Set the index to `Id` and reset it back—what’s the difference before and after?

---

Would you like me to generate the code for any of these questions or build a test set out of them?